<h1>Student App</h1>

<!-- Creating a ordered list for function declaring students names -->
<ol>
  @for (item of students; track item) {
    <li> {{item.id}}-{{item.name}}-{{item.address}}</li>

  }
</ol>

<!-- <ol>
  for(x of students; track x)
  {
    <li>{{x.name}}</li>
  }
</ol> -->


<!-- Creating a unordered list for the function declaring students names -->
<ul>
  <li *ngFor="let xyz of students">
   {{xyz.id}}- {{xyz.name}}- {{xyz.address}}
  </li>
</ul>

<!-- This is declaring the temperature using the weather folder -->
<p> The weather in Galway is: {{weather[0].main}} - {{weather[0].description}} - {{(temperature.temp-273.51)}}

</p>
